<!DOCTYPE html>
<html>
  <head>
    <title>FCC Message Board Threads</title>
    <meta name="description" content="A message board for all things message">    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://marvelous-ring.glitch.me/public/styleBoard.css">
  </head>
  <body>
    <h1>The freeCodeCamp Message Board</h1>
    <h3 id="board-name"></h3>
    <div id="main-text-container">
      <div id="input-box">
        <h3>Add New Thread</h3>
        <form id="newThread" autocomplete="off" method="post">
          <div id="form-left">         
            <textarea type="text" class="new-thread" name="text" placeholder="Enter thread text" required></textarea>
          </div>
          <div id="form-right">
            <input type="text" class="new-thread input" name="delete_password" placeholder="Password to delete" required data-lpignore="true">
            <button type="submit" class="input"><b>Submit New Thread</b></button>
          </div>
        </form>
      </div>      
    </div>
    <div id="thread-container">
      <div id="navigation"><a href="/">Home</a></div>
    </div>
    <script src="https://marvelous-ring.glitch.me/public/clientBoard.js"></script>
  </body>
</html>