<!DOCTYPE HTML>
<html>
  <head>
    <title>FCC Message Board Thread with Replies</title>
    <meta name="description" content="A message board for all things message">    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://marvelous-ring.glitch.me/public/styleBoard.css">    
  </head>
  <body>
    <h1>The freeCodeCamp Message Board</h1>
    <h3 id="board-name"></h3>
    <div id="thread-container">
      <div id="navigation">
        <a href="/">Home</a>
        <a id="board-location" href="/b/board">Back</a>
      </div>
    </div>
    <script src="https://marvelous-ring.glitch.me/public/clientThread.js"></script>
  </body>
</html>